body {
  margin: 0;
}

.App {
  min-height: 100vh;
  position: relative;
}

.flex-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar {
  padding: 10px;
  background-color: #41b5e8;
  color: white;
}

.bottombar {
  position: fixed;
  margin: 0;
  background-color: #323943;
  color: #b0b4b9;
  justify-content: space-around;
  bottom: 0;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  width: 25%;
}

.bottombar p {
  font-size: small;
  margin: 0;
  margin-top: 3px;
}

.active {
  background-color: #41b5e8;
  color: white;
}

.header {
  position: absolute;
  left: calc(50% - 53px);
}

.back {
  padding-left: 10px;
}
