* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f3f4f6;
}

a {
  color: black;
  text-decoration: none;
}

.App {
  min-height: 100vh;
  position: relative;
}

.container {
  padding: 20px;
}

.flex-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.text-center {
  text-align: center;
}

.navbar {
  padding: 10px;
  background-color: #41b5e8;
  color: white;
}

.bottombar {
  position: fixed;
  margin: 0;
  background-color: #323943;
  color: #b0b4b9;
  justify-content: space-around;
  bottom: 0;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  width: 25%;
}

.bottombar p {
  font-size: small;
  margin: 0;
  margin-top: 3px;
}

.active {
  background-color: #41b5e8;
  color: white;
}

.btn {
  padding: 5px;
  border-radius: 4px;
  border: none;
}

.m-auto {
  margin: auto;
}

.header {
  position: absolute;
  left: calc(50% - 53px);
}

.back {
  padding-left: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.grid-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

.grid-item h4 {
  text-align: center;
  margin-bottom: 4px;
}

.img-container {
  min-height: 90px;
  width: 50%;
  display: flex;
  align-items: center;
}

.name-container {
  width: 50%;
  color: #c3cad1;
}

.name-container h6 {
  margin: 0;
  margin-bottom: 5px;
}

.name-container p {
  margin: 0;
  margin-top: 5px;
}

.name-container span {
  color: #8797a6;
  font-size: 23px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top left;
}
